<a href="https://colab.research.google.com/github/dongchanlim/CS450/blob/master/03_Prove_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np
from google.colab import files
file = files.upload()

Saving auto-mpg.data to auto-mpg (1).data

In [33]:
auto_mpg = pd.read_csv("auto-mpg.data", header = None, na_values = ["?"], delim_whitespace= True, skipinitialspace= True)
auto_mpg.columns = ["mpg","cyclinder","displacement","horsepower","weight","accelaration","model year","origin","car name"]
auto_mpg.head()

    mpg  cyclinder  displacement  ...  model year  origin                   car name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

In [17]:
auto_mpg.describe

<bound method NDFrame.describe of       mpg  cyclinder  ...  origin                   car name
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]>

In [18]:
auto_mpg.dtypes

mpg             float64
cyclinder         int64
displacement    float64
horsepower      float64
weight          float64
accelaration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [19]:
auto_mpg["horsepower"].value_counts()

150.0    22
90.0     20
88.0     19
110.0    18
100.0    17
         ..
94.0      1
167.0     1
158.0     1
137.0     1
107.0     1
Name: horsepower, Length: 93, dtype: int64

In [34]:
auto_mpg["brand"] = new = auto_mpg["car name"].str.split(" ", n = 1, expand = True)[0]
auto_mpg["model"] = new = auto_mpg["car name"].str.split(" ", n = 1, expand = True)[1]

auto_mpg.head()

    mpg  cyclinder  ...      brand            model
0  18.0          8  ...  chevrolet  chevelle malibu
1  15.0          8  ...      buick      skylark 320
2  18.0          8  ...   plymouth        satellite
3  16.0          8  ...        amc        rebel sst
4  17.0          8  ...       ford           torino

[5 rows x 11 columns]

In [21]:
auto_mpg["cyclinder"].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cyclinder, dtype: int64

In [22]:
auto_mpg["model year"].value_counts()

73    40
78    36
76    34
82    31
75    30
81    29
80    29
79    29
70    29
77    28
72    28
71    28
74    27
Name: model year, dtype: int64

In [23]:
auto_mpg["origin"].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

In [24]:
auto_mpg["brand"].value_counts()

ford             51
chevrolet        43
plymouth         31
dodge            28
amc              28
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
oldsmobile       10
mazda            10
fiat              8
peugeot           8
audi              7
chrysler          6
vw                6
volvo             6
renault           5
subaru            4
saab              4
opel              4
chevy             3
maxda             2
mercedes-benz     2
cadillac          2
bmw               2
chevroelt         1
mercedes          1
capri             1
triumph           1
hi                1
toyouta           1
vokswagen         1
nissan            1
Name: brand, dtype: int64

In [25]:
auto_mpg["model"].value_counts()

pinto                   6
maverick                5
corolla                 5
rabbit                  5
matador                 5
                       ..
rx-7 gs                 1
satellite custom        1
century special         1
mustang                 1
rabbit custom diesel    1
Name: model, Length: 299, dtype: int64

In [35]:
auto_mpg.isna().sum(axis = 0)

mpg             0
cyclinder       0
displacement    0
horsepower      6
weight          0
accelaration    0
model year      0
origin          0
car name        0
brand           0
model           2
dtype: int64

In [36]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='mean')

# imputation
# auto_mpg["horsepower"]= imp.fit_transform(auto_mpg["horsepower"]) - didn't work since it is 2- dimensional table
auto_mpg[["horsepower"]] = imp.fit_transform(auto_mpg[["horsepower"]])

auto_mpg.isna().sum(axis = 0)

mpg             0
cyclinder       0
displacement    0
horsepower      0
weight          0
accelaration    0
model year      0
origin          0
car name        0
brand           0
model           2
dtype: int64

In [0]:
auto_mpg = pd.get_dummies(auto_mpg, columns = ["cyclinder", "model year", "origin"])

In [47]:
X = auto_mpg.drop(["mpg", "brand", "model", "car name"], axis = 1)
y = auto_mpg["mpg"]

X,y

(     displacement  horsepower  weight  ...  origin_1  origin_2  origin_3
 0           307.0       130.0  3504.0  ...         1         0         0
 1           350.0       165.0  3693.0  ...         1         0         0
 2           318.0       150.0  3436.0  ...         1         0         0
 3           304.0       150.0  3433.0  ...         1         0         0
 4           302.0       140.0  3449.0  ...         1         0         0
 ..            ...         ...     ...  ...       ...       ...       ...
 393         140.0        86.0  2790.0  ...         1         0         0
 394          97.0        52.0  2130.0  ...         0         1         0
 395         135.0        84.0  2295.0  ...         1         0         0
 396         120.0        79.0  2625.0  ...         1         0         0
 397         119.0        82.0  2720.0  ...         1         0         0

 [398 rows x 25 columns], 0      18.0
 1      15.0
 2      18.0
 3      16.0
 4      17.0
        ...
 393    27.0
 394    44.0
 395    32.0
 396    28.0
 397    31.0
 Name: mpg, Length: 398, dtype: float64)

In [0]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)

In [60]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score



knn_reg = KNeighborsRegressor(n_neighbors= int(np.floor(np.sqrt(len(y_test)))))

knn_reg.fit(X_train, y_train)
prediction = knn_reg.predict(X_test)

np.sqrt(sum((y_test - prediction) ** 2))

45.24395097689857