<a href="https://colab.research.google.com/github/dongchanlim/CS450/blob/master/03_Prove_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from google.colab import files
file = files.upload()

Saving student-mat.csv to student-mat (1).csv

In [91]:
student_mat = pd.read_csv("student-mat.csv", na_values = ["?"], delimiter= ";", skipinitialspace= True)
student_mat.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [76]:
student_mat.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [77]:
student_mat.isna().sum(axis = 0)

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [0]:
# change all binary variable into numeric label (LabelEncoder)
binary_col = ["school", "sex", "address", "Pstatus", "famsize", "schoolsup", "famsup", "paid", "activities", "nursery", "higher", "internet", "romantic"]
student_mat[binary_col] = student_mat[binary_col].apply(lambda x: x.astype('category').cat.codes)

In [0]:
# change all nominal varibles into multiple variables (one-hot-encoding)
student_mat = pd.get_dummies(student_mat, columns = ["reason", "guardian", "Mjob", "Fjob"])

In [96]:
X = student_mat.drop("G3", axis = 1)
y = student_mat["G3"]

X,y

(     school  sex  age  ...  Fjob_other  Fjob_services  Fjob_teacher
 0         0    0   18  ...           0              0             1
 1         0    0   17  ...           1              0             0
 2         0    0   15  ...           1              0             0
 3         0    0   15  ...           0              1             0
 4         0    0   16  ...           1              0             0
 ..      ...  ...  ...  ...         ...            ...           ...
 390       1    1   20  ...           0              1             0
 391       1    1   17  ...           0              1             0
 392       1    1   21  ...           1              0             0
 393       1    1   18  ...           1              0             0
 394       1    1   19  ...           0              0             0

 [395 rows x 45 columns], 0       6
 1       6
 2      10
 3      15
 4      10
        ..
 390     9
 391    16
 392     7
 393    10
 394     9
 Name: G3, Length: 395, dtype: int64)

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 1)

In [98]:
# change all numeric variable into the standarized format
from sklearn.preprocessing import StandardScaler

numeric_col = ["age", "Medu", "Fedu", "traveltime", "studytime", "failures", "famrel", "freetime", "goout", "Dalc", "Walc", "health", "absences", "G1", "G2"]
std_scale = StandardScaler()
X_train[numeric_col] = std_scale.fit_transform(X_train[numeric_col])
X_test[numeric_col] = std_scale.transform(X_test[numeric_col])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [99]:
from sklearn.neighbors import KNeighborsRegressor


knn_reg = KNeighborsRegressor(n_neighbors= int(np.floor(np.sqrt(len(y_test)))))

knn_reg.fit(X_train, y_train)
prediction = knn_reg.predict(X_test)

np.sqrt(sum((y_test - prediction) ** 2))

27.709023800920882