<a href="https://colab.research.google.com/github/dongchanlim/CS450/blob/master/03_Prove_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from google.colab import files
uploaded = files.upload()

Saving car.data to car.data

1. Read data from text files (e.g., comma- or space-delimited)

In [61]:
car = pd.read_csv("car.data", header = None)
car.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [62]:
car.columns = ["buying", "maint", "doors", "persons", "lug_boot", "safety", "target"]
car.head()

  buying  maint doors persons lug_boot safety target
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [15]:
car.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
unacc       object
dtype: object

In [26]:
car.isna().sum(axis = 0)

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
unacc       0
dtype: int64

In [27]:
car["buying"].value_counts()

low      432
vhigh    432
med      432
high     432
Name: buying, dtype: int64

In [28]:
car["maint"].value_counts()

low      432
vhigh    432
med      432
high     432
Name: maint, dtype: int64

In [24]:
car["doors"].value_counts()

4        432
3        432
5more    432
2        432
Name: doors, dtype: int64

In [29]:
car["persons"].value_counts()

4       576
more    576
2       576
Name: persons, dtype: int64

In [36]:
car["lug_boot"].value_counts()

big      576
small    576
med      576
Name: lug_boot, dtype: int64

In [37]:
car["safety"].value_counts()

low     576
high    576
med     576
Name: safety, dtype: int64

In [50]:
car["unacc"].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: unacc, dtype: int64

2. Handle non-numeric data

In [63]:
# preprocessing: convert Caterogical into Numeric Value
car["buying"] = car["buying"].astype("category").cat.reorder_categories(['low', 'med', 'high', 'vhigh']).cat.codes
car["maint"] = car["maint"].astype("category").cat.reorder_categories(['low', 'med', 'high', 'vhigh']).cat.codes
car["lug_boot"] = car["lug_boot"].astype("category").cat.reorder_categories(['small','med','big']).cat.codes
car["safety"] = car["safety"].astype("category").cat.reorder_categories(['low','med','high']).cat.codes

# One-hot-Encoding

car = pd.get_dummies(car, columns= car[["doors","persons"]].columns)

car.head()

   buying  maint  lug_boot  ...  persons_2 persons_4  persons_more
0       3      3         0  ...          1         0             0
1       3      3         0  ...          1         0             0
2       3      3         0  ...          1         0             0
3       3      3         1  ...          1         0             0
4       3      3         1  ...          1         0             0

[5 rows x 12 columns]

4. Use kNN for regression

In [65]:
X = car.drop('target', axis=1)
y = car.target

X,y

(      buying  maint  lug_boot  ...  persons_2  persons_4  persons_more
 0          3      3         0  ...          1          0             0
 1          3      3         0  ...          1          0             0
 2          3      3         0  ...          1          0             0
 3          3      3         1  ...          1          0             0
 4          3      3         1  ...          1          0             0
 ...      ...    ...       ...  ...        ...        ...           ...
 1723       0      0         1  ...          0          0             1
 1724       0      0         1  ...          0          0             1
 1725       0      0         2  ...          0          0             1
 1726       0      0         2  ...          0          0             1
 1727       0      0         2  ...          0          0             1

 [1728 rows x 11 columns], 0       unacc
 1       unacc
 2       unacc
 3       unacc
 4       unacc
         ...
 1723     good
 1724    vgood
 1725    unacc
 1726     good
 1727    vgood
 Name: target, Length: 1728, dtype: object)

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)

In [71]:
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier(n_neighbors = int(np.floor(np.sqrt(len(y)))))
classifier.fit(X_train, y_train)
prediction = classifier.predict(X_test)

accuracy_score(y_test, prediction)

0.8940269749518305