<a href="https://colab.research.google.com/github/dongchanlim/CS450/blob/master/Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Download the census dataset. Install Pandas and use it to read in the data.

Set the column names to something descriptive/appropriate.

Ensure that everything is working by printing out some summaries of the data.

In [0]:
import pandas as pd
import numpy as np

In [69]:
from google.colab import files
uploaded = files.upload()

Saving adult.data to adult (1).data

In [105]:
adult =  pd.read_csv("adult.data", header = None, na_values= ["?"], skipinitialspace= True)
adult.head()

   0                 1       2          3   ...  11  12             13     14
0  39         State-gov   77516  Bachelors  ...   0  40  United-States  <=50K
1  50  Self-emp-not-inc   83311  Bachelors  ...   0  13  United-States  <=50K
2  38           Private  215646    HS-grad  ...   0  40  United-States  <=50K
3  53           Private  234721       11th  ...   0  40  United-States  <=50K
4  28           Private  338409  Bachelors  ...   0  40           Cuba  <=50K

[5 rows x 15 columns]

In [106]:
adult.columns = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital","capital-loss","hours-per-week","native-country","<=50K"]
adult.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country  <=50K
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [107]:
adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital            int64
capital-loss       int64
hours-per-week     int64
native-country    object
<=50K             object
dtype: object

2. Appropriately handle the missing data.

In [108]:
adult.isna().sum(axis = 0)

adult = adult.dropna()

adult.isna().sum(axis = 0)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital           0
capital-loss      0
hours-per-week    0
native-country    0
<=50K             0
dtype: int64

3. Convert the categorical attributes into some form of numeric attributes.

In [111]:
# adult["sex"] = adult["sex"].replace(0, "Male", inplace = True)
# adult["sex"] = adult["sex"].replace(1, "Female", inplace = True)
# adult.loc[adult["sex"] == "Male", "sex"] = 0
# adult.loc[adult["sex"] == "Female", "sex"] = 1
adult["sex"] = adult["sex"].astype("category").cat.codes
adult["sex"] = pd.to_numeric(adult["sex"])
adult["sex"].head()

# adult.loc[adult["<=50K"] == "<=50K", "<=50K"] = 0
# adult.loc[adult["<=50K"] == ">50K", "<=50K"] = 1
adult["<=50K"] = adult["<=50K"].astype("category").cat.codes
adult["<=50K"] = pd.to_numeric(adult["<=50K"])
adult["<=50K"].head()

adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex                 int8
capital            int64
capital-loss       int64
hours-per-week     int64
native-country    object
<=50K               int8
dtype: object

1. Convert the dataset into a NumPy array, and use an sklearn classifier to classify it.

In [0]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [62]:
X = adult.iloc[:, :14] # Feature
y = adult.iloc[:,14] # Target
X,y

(       age         workclass  ...  hours-per-week native-country
 0       39         State-gov  ...              40  United-States
 1       50  Self-emp-not-inc  ...              13  United-States
 2       38           Private  ...              40  United-States
 3       53           Private  ...              40  United-States
 4       28           Private  ...              40           Cuba
 ...    ...               ...  ...             ...            ...
 32556   27           Private  ...              38  United-States
 32557   40           Private  ...              40  United-States
 32558   58           Private  ...              40  United-States
 32559   22           Private  ...              20  United-States
 32560   52      Self-emp-inc  ...              40  United-States

 [32561 rows x 14 columns], 0        <=50K
 1        <=50K
 2        <=50K
 3        <=50K
 4        <=50K
          ...
 32556    <=50K
 32557     >50K
 32558    <=50K
 32559    <=50K
 32560     >50K
 Name: <=50K, Length: 32561, dtype: object)

In [63]:
X = pd.get_dummies(X, columns= X.select_dtypes(include=['object']).columns)

# 1. Without Pro-precsssing
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)



# Naive Baysian Modeling
from sklearn.naive_bayes import GaussianNB

# train the classifier (naive beyasian modeling)
classifier = GaussianNB()
classifier.fit(X_train, y_train)

predicted_y = classifier.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
# accuracy = y_test[predicted_y == y_test].size / y_test.size
accuracy

0.7974204115057836

In [64]:
from sklearn.ensemble import RandomForestClassifier

# train the classifier (random forest modeling)
classifier = RandomForestClassifier(max_depth=4, random_state=0)
classifier.fit(X_train, y_train)

predicted_y = classifier.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
# accuracy = y_test[predicted_y == y_test].size / y_test.size
accuracy

0.8318149247620023

In [65]:
from sklearn.neighbors import KNeighborsClassifier

# train the classifier (knn modeling)
classifier = KNeighborsClassifier(n_neighbors= int(np.floor(np.sqrt(y_test.size))), weights='uniform', algorithm='auto', leaf_size=30, p=2)
classifier.fit(X_train, y_train)

predicted_y = classifier.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
# accuracy = y_test[predicted_y == y_test].size / y_test.size
accuracy

0.7836011874296244

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)

numeric_col = ["age","fnlwgt","education-num","capital","capital-loss","hours-per-week"]
# numeric_col = adult.select_dtypes(include=numerics).columns
std_scale = preprocessing.StandardScaler().fit(X_train[numeric_col])
X_train_std = std_scale.transform(X_train[numeric_col])
# std_scale = StandardScaler().fit_transform(X_train[numeric_col])
X_train_std = pd.DataFrame(X_train_std, columns = numeric_col)
for i in numeric_col:
  X_train[[i]] = X_train_std[[i]]

X_test_std = std_scale.transform(X_test[numeric_col])
X_test_std = pd.DataFrame(X_test_std, columns = numeric_col)
for i in numeric_col:
  X_test[[i]] = X_test_std[[i]]

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [28]:
# Naive Baysian Modeling
from sklearn.naive_bayes import GaussianNB

# train the classifier (naive beyasian modeling)
classifier = GaussianNB()
classifier.fit(X_train, y_train)

predicted_y = classifier.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
# accuracy = y_test[predicted_y == y_test].size / y_test.size
accuracy

ValueError: ignored