<a href="https://colab.research.google.com/github/dongchanlim/CS450/blob/master/Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Download the census dataset. Install Pandas and use it to read in the data.

Set the column names to something descriptive/appropriate.

Ensure that everything is working by printing out some summaries of the data.

In [0]:
import pandas as pd
import numpy as np

In [24]:
from google.colab import files
uploaded = files.upload()

Saving adult.data to adult (2).data

In [29]:
adult =  pd.read_csv("adult.data", header = None, na_filter= False)
adult.head()

   0                  1       2           3   ...  11  12              13      14
0  39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
1  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
2  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
3  53            Private  234721        11th  ...   0  40   United-States   <=50K
4  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K

[5 rows x 15 columns]

In [30]:
adult.columns = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital","capital-loss","hours-per-week","native-country","<=50K"]
adult.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country   <=50K
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [31]:
adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital            int64
capital-loss       int64
hours-per-week     int64
native-country    object
<=50K             object
dtype: object

2. Appropriately handle the missing data.

In [33]:
adult.isna().sum(axis = 0)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital           0
capital-loss      0
hours-per-week    0
native-country    0
<=50K             0
dtype: int64

3. Convert the categorical attributes into some form of numeric attributes.

1. Convert the dataset into a NumPy array, and use an sklearn classifier to classify it.

In [0]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [65]:
X = adult.iloc[:, :14] # Feature
y = adult.iloc[:,14] # Target
X,y

(       age          workclass  ...  hours-per-week  native-country
 0       39          State-gov  ...              40   United-States
 1       50   Self-emp-not-inc  ...              13   United-States
 2       38            Private  ...              40   United-States
 3       53            Private  ...              40   United-States
 4       28            Private  ...              40            Cuba
 ...    ...                ...  ...             ...             ...
 32556   27            Private  ...              38   United-States
 32557   40            Private  ...              40   United-States
 32558   58            Private  ...              40   United-States
 32559   22            Private  ...              20   United-States
 32560   52       Self-emp-inc  ...              40   United-States

 [32561 rows x 14 columns], 0         <=50K
 1         <=50K
 2         <=50K
 3         <=50K
 4         <=50K
           ...
 32556     <=50K
 32557      >50K
 32558     <=50K
 32559     <=50K
 32560      >50K
 Name: <=50K, Length: 32561, dtype: object)

In [73]:
X = pd.get_dummies(X, columns= X.select_dtypes(include=['object']).columns)

# 1. Without Pro-precsssing
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)



# Naive Baysian Modeling
from sklearn.naive_bayes import GaussianNB

# train the classifier (naive beyasian modeling)
classifier = GaussianNB()
classifier.fit(X_train, y_train)

predicted_y = classifier.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
# accuracy = y_test[predicted_y == y_test].size / y_test.size
accuracy

0.7974204115057836

In [74]:
from sklearn.ensemble import RandomForestClassifier

# train the classifier (random forest modeling)
classifier = RandomForestClassifier(max_depth=4, random_state=0)
classifier.fit(X_train, y_train)

predicted_y = classifier.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
# accuracy = y_test[predicted_y == y_test].size / y_test.size
accuracy

0.8197358992732112

In [76]:
from sklearn.neighbors import KNeighborsClassifier

# train the classifier (knn modeling)
classifier = KNeighborsClassifier(n_neighbors= int(np.floor(np.sqrt(y_test.size))), weights='uniform', algorithm='auto', leaf_size=30, p=2)
classifier.fit(X_train, y_train)

predicted_y = classifier.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
# accuracy = y_test[predicted_y == y_test].size / y_test.size
accuracy

0.7836011874296244

In [0]:
numeric_col = ["age","fnlwgt","education-num","capital","capital-loss","hours-per-week"]
# numeric_col = adult.select_dtypes(include=numerics)
std_scale = preprocessing.StandardScaler().fit(X[numeric_col])
X_std = std_scale.transform(X[numeric_col])
X_std = pd.DataFrame(X_std, columns = numeric_col)
for i in numeric_col:
  X[[i]] = X_std[i]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)

In [85]:
# Naive Baysian Modeling
from sklearn.naive_bayes import GaussianNB

# train the classifier (naive beyasian modeling)
classifier = GaussianNB()
classifier.fit(X_train, y_train)

predicted_y = classifier.predict(X_test)
accuracy = accuracy_score(y_test, predicted_y)
# accuracy = y_test[predicted_y == y_test].size / y_test.size
accuracy

0.5589108404135531